In [1]:
# import dill
import scanpy as sc
import os
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

# import pyranges
# Set stderr to null to avoid strange messages from ray
import sys
_stderr = sys.stderr
null = open(os.devnull,'wb')
from scipy.sparse import issparse


import itertools
import anndata
import itertools
import anndata
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import warnings
warnings.simplefilter(action='ignore')
import numpy as np
from sklearn.preprocessing import normalize

from itertools import product
import umap
from collections import Counter
from sklearn.decomposition import PCA
from gridot.utils import *
from gridot.train import *

In [2]:
rna_anndata = sc.read_h5ad('./data/adata.h5ad')

# Check if raw data exists
if rna_anndata.raw is not None:
    # Access the raw data
    raw_data = rna_anndata.raw.X
    raw_obs = rna_anndata.obs.copy()  # Cell metadata (unchanged)
    raw_var = rna_anndata.raw.var.copy()  # Gene metadata (original raw genes)

    # Create a new AnnData object using the raw data
    rna_anndata = sc.AnnData(X=raw_data, obs=raw_obs, var=raw_var)

    # Print the new raw AnnData object to verify
    print(rna_anndata)
else:
    print("The AnnData object does not contain raw data.")

AnnData object with n_obs × n_vars = 2664 × 21255
    obs: 'n_genes', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'ingest_celltype_label', 'leiden_res_0.8', 'celltype'
    var: 'gene_ids', 'feature_types', 'genome', 'n_cells', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'

In [16]:
import scanpy as sc
import pandas as pd
import numpy as np

# Assuming your AnnData object is named `rna_anndata` and has a 'cell_type' column in .obs
groupby_key = 'celltype'

# Step 1: Perform differential expression
sc.tl.rank_genes_groups(rna_anndata, groupby=groupby_key, method='t-test')  # You can use 'wilcoxon' too

# Step 2: Extract DE results
de_results = rna_anndata.uns['rank_genes_groups']
groups = de_results['names'].dtype.names  # list of cell type names

top_genes_dict = {}

# Step 3: For each group (cell type), get top 25% DE genes
for group in groups:
    gene_names = np.array(de_results['names'][group])  # ranked gene names
    n_top = int(len(gene_names) * 0.2)  # top 25%
    top_genes = gene_names[:n_top]
    top_genes_dict[group] = top_genes

# Optional: Convert to DataFrame for easy inspection
top_genes_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in top_genes_dict.items()]))

# Display or save
print(top_genes_df)

         B_cells CD4_T_cells CD8_T_cells CD14+_Monocytes Dendritic_cells  \
0           AFF3      BCL11B        CCL5          PLXDC2            CD74
1           CD74       CAMK4        NKG7            FCN1         HLA-DRA
2        HLA-DRA        LEF1        GZMA            DPYD            CST3
3          BANK1        IL7R        IL32          SLC8A1        HLA-DRB1
4        RALGPS2        TCF7       PRKCH           LRMDA        HLA-DPA1
...          ...         ...         ...             ...             ...
4246       TBX19  AL359921.1      PINLYP         ST3GAL4          ZBTB41
4247   LINC02175      PCDH19       MYCBP      AC068533.3           NAPSA
4248  AL136040.1  FP236383.4       KLKB1       RAP2C-AS1           CNPY2
4249  AC018628.2       WDR61      ZC3H15      AC020913.3            SDC4
4250  AC016575.2  AL591043.2       UPK1B           CCT6B      AC005288.1

     FCGR3A+_Monocytes    NK_cells
0                 PSAP        GNLY
1                 CTSS        NKG7
2                 WARS        PRF1
3                 CST3       CD247
4               FCGR3A        GZMA
...                ...         ...
4246             ASB13      PLA2G6
4247             DCP1B        PCCA
4248            CCDC47  AC100830.2
4249        AP002761.4  LYPLAL1-DT
4250             PPARA       LIN54

[4251 rows x 7 columns]

In [17]:
putative_pairs = pd.read_csv("./testing_results/TF_motif/putative_TF_gene.tsv",sep = '\t',index_col = 0)
putative_pairs

         Source    Target
0        ZNF215  A1BG-AS1
1          RFX3  A1BG-AS1
2        ZNF555  A1BG-AS1
3         CLOCK  A1BG-AS1
4        ZNF219  A1BG-AS1
...         ...       ...
1880432   SPDEF     CWC25
1880457   NPAS4     CWC25
1880459   FOXL3     CWC25
1880460   SALL2     CWC25
1880476   DEAF1     CWC25

[996749 rows x 2 columns]

In [ ]:
# Dictionary to store filtered pairs per cell type
filtered_pairs_by_celltype = {}

for cell_type, de_genes in top_genes_dict.items():
    # Convert list to set for faster lookup
    de_genes_set = set(de_genes)

    # Filter putative_pairs where Target is in DE gene list for that cell type
    filtered_pairs = putative_pairs[putative_pairs['Target'].isin(de_genes_set)]

    # Save to dictionary
    filtered_pairs_by_celltype[cell_type] = filtered_pairs
    filtered_pairs['rss_ratio'] = 1
    filtered_pairs['ftest'] = 1

    # Optional: save each to file
    filtered_pairs.to_csv(f"./testing_results/filtered_pairs_{cell_type}.tsv", sep='\t', index=False)

In [11]:
filtered_pairs

         Source Target
1795        ERG   AAMP
1796      LCORL   AAMP
1797     ZNF419   AAMP
1798     HOXA13   AAMP
1799      RUNX3   AAMP
...         ...    ...
1880432   SPDEF  CWC25
1880457   NPAS4  CWC25
1880459   FOXL3  CWC25
1880460   SALL2  CWC25
1880476   DEAF1  CWC25

[367837 rows x 2 columns]